


@model List<Lib.DAL.tblGrade>
@{ int i = 0; }

@foreach (var item in Model)
{
    { i += 1; }
    <tr>
        <td>@i</td>

        <td>
            <span id="lbl-@item.ID">@item.Name</span>
            <input type="text" id="txt-@item.ID" value="@item.Name" class="hide form-control" />
        </td>
       
        <td class="text-center">
            <a href="javascript:;" id="btnedit-@item.ID" class="label label-info" onclick="TriggerEdit(@item.ID)"> <i class="fa fa-edit"></i> </a>

            <a href="javascript:;" id="btndel-@item.ID" class="label hidden label-danger" onclick="TriggerDelete(@item.ID)"> <i class="fa fa-trash"></i> </a>

            <a href="javascript:;" class="hide label label-success" id="btnsubmit-@item.ID" onclick="Update(@item.ID)"> <i class="fa fa-check"></i> </a> &nbsp;
            <a href="javascript:;" class="label label-danger hide" id="btncancel-@item.ID" onclick="CancelEdit(@item.ID)"> <i class="fa fa-close"></i> </a>

        </td>
    </tr>
}

<tr style="background-color:rgba(185, 174, 174, 0.24)">
    <td></td>

    <td> <input type="text" id="TaxName" class="form-control" /> </td>
   
   
    <td class="text-center"> <button type="button" class="btn btn-info" onclick="Add()"> <i class="fa fa-plus"></i> </button> </td>
</tr>

<script>
    function Add() {
        if ($("#TaxName").val() != '') {
            //$("#UploadingModal").modal('show');
            $(".btn").attr('disabled', true);
            var data = new FormData();

            data.append("Name", $("#TaxName").val());
            

            $.ajax({
                cache: false,
                type: 'POST',
                processData: false,
                contentType: false,
                url: '/Setting/Grade/Create',
                data: data,
                success: function (result) {
                   // $("#UploadingModal").modal('hide');
                    $("#loading").addClass('hide');
                    $(".btn").attr('disabled', false);
                    getData();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    $("body").html(xhr.responseText);
                }
            });
        }
        else {
            $("#TaxName").focus();
        }
    }

    function TriggerEdit(ID) {
        $("#lbl-" + ID).addClass('hide');
        $("#txt-" + ID).removeClass('hide');
       
        $("#txt-" + ID).select();
      

        $("#btncancel-" + ID).removeClass('hide');
        $("#btnsubmit-" + ID).removeClass('hide');
        $("#btnedit-" + ID).addClass('hide');
        $("#btndel-" + ID).addClass('hide');
    }

    function CancelEdit(ID) {
        $("#lbl-" + ID).removeClass('hide');
        $("#txt-" + ID).addClass('hide');
      

        $("#btncancel-" + ID).addClass('hide');
        $("#btnsubmit-" + ID).addClass('hide');
        $("#btnedit-" + ID).removeClass('hide');
        $("#btndel-" + ID).removeClass('hide');
    }

    function Update(ID) {
        $.ajax({
            cache: false,
            type: 'POST',
            url: '/Setting/Grade/Update',
            data: { ID: ID, name: $("#txt-" + ID).val() },
            datatype: 'Json',
            success: function (result) {
                $("#loading").addClass('hide');
                getData();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('error');
            }
        });
    }

    function TriggerDelete(ID) {

        var result = confirm("Do you Want to Delete This Tax Type... ");
        if (result) {
            $.ajax({
                cache: false,
                type: 'POST',
                url: '/Setting/Grade/Delete',
                data: { ID: ID },
                datatype: 'Json',
                success: function (result) {
                    $("#loading").addClass('hide');
                    getData();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert_error('Error', 'Error.');
                }
            });
        }

    }

</script>